<%- include('includes/header') %>

	<div class="section pt-5 pb-0">
		<div class="container" style="margin-bottom: -60px;">
			<div class="row">

				<div class="col-lg-12">

					<div class="posts-slide-wrap">
						<div class="posts-slide" id="posts-slide">

							<div class="item">
								<div class="post-entry d-lg-flex">

									<div class="me-lg-5 thumbnail mb-4 mb-lg-0">
										<a href=" ">
											
											<video src="images/vlc-record-2021-02-06-15h50m06s-Bill.Burr.Paper.Tiger.2019.1080p.WEBRip.x264-RARBG-.mp4" class="img-fluid" autoplay muted></video>		
										</a>
									</div>

									<div class="content align-self-center">
										<div class="post-meta mb-3">
											<a href=" " class="category">Business</a>, <a href=" " class="category">Travel</a> &mdash;
											<span class="date">July 2, 2020</span>

										</div>
										<h4 ><a href=" ">Your most unhappy customers are your greatest source of learning.</a></h4>
										<a href=" " class="post-author d-flex align-items-center">
											<div class="author-pic">
												<img src="images/person_1.jpg" alt="Image">
											</div>
											<div class="text">
												<strong style="color: whitesmoke;">Sergy Campbell</strong>
												
											</div>

										</a>


									</div>
								</div>
							</div>
							<!-- END .item -->



							<div class="item">
								<div class="post-entry d-lg-flex">

									<div class="me-lg-5 thumbnail mb-4 mb-lg-0">
										<a href=" ">
											<img src="images/post_lg_2.jpg" alt="Image" class="img-fluid">		
										</a>
									</div>

									<div class="content align-self-center">
										<div class="post-meta mb-3">
											<a href=" " class="category">Business</a>, <a href=" " class="category">Travel</a> &mdash;
											<span class="date">July 2, 2020</span>

										</div>
										<h4 ><a href=" ">Your most unhappy customers are your greatest source of learning.</a></h4>
										<a href=" " class="post-author d-flex align-items-center">
											<div class="author-pic">
												<img src="images/person_1.jpg" alt="Image">
											</div>
											<div class="text">
												<strong style="color: whitesmoke;">Sergy Campbell</strong>
												
											</div>

										</a>


									</div>
								</div>
							</div>
							<!-- END .item -->




							<div class="item">
								<div class="post-entry d-lg-flex">

									<div class="me-lg-5 thumbnail mb-4 mb-lg-0">
										<a href=" ">
											<img src="images/post_lg_3.jpg" alt="Image" class="img-fluid">		
										</a>
									</div>

									<div class="content align-self-center">
										<div class="post-meta mb-3">
											<a href=" " class="category">Business</a>, <a href=" " class="category">Travel</a> &mdash;
											<span class="date">July 2, 2020</span>

										</div>
										<h4 ><a href=" ">Your most unhappy customers are your greatest source of learning.</a></h4>
										<a href=" " class="post-author d-flex align-items-center">
											<div class="author-pic">
												<img src="images/person_1.jpg" alt="Image">
											</div>
											<div class="text">
												<strong style="color: whitesmoke;">Sergy Campbell</strong>

											</div>

										</a>


									</div>
								</div>
							</div>
							<!-- END .item -->



							<div class="item">
								<div class="post-entry d-lg-flex">

									<div class="me-lg-5 thumbnail mb-4 mb-lg-0">
										<a href=" ">
											<img src="images/post_lg_4.jpg" alt="Image" class="img-fluid">		
										</a>
									</div>

									<div class="content align-self-center">
										<div class="post-meta mb-3">
											<a href=" " class="category">Business</a> &mdash;
											<span class="date">July 2, 2020</span>

										</div>
										<h4 ><a href=" ">Your most unhappy customers are your greatest source of learning.</a></h4>
										
										<a href=" " class="post-author d-flex align-items-center">
											<div class="author-pic">
												<img src="images/person_1.jpg" alt="Image">
											</div>
											<div class="text">
												<strong style="color: whitesmoke;">Iamjerrymiah</strong>
												
											</div>

										</a>


									</div>
								</div>
							</div>
							<!-- END .item -->



						</div>
					</div>
					
				</div>
				
			</div>
			<div class="row justify-content-center mb-5">
				<div class="col-lg-7 text-center">
					<h2 class="heading" style="color: blueviolet;">Trending Billboard</h2>
				</div>
			</div>
		</div>
	</div>







	
	<div class="section">
		<div class="container">
			<div class="row g-5">
                
				<% console.log(posts) %>
				<% posts.forEach(function(post) { %> 

					<% var imgLoop = post.photo %>
					<% var photoLoop = imgLoop.split('.').pop() %>

					<% var headLoop = post.headline %>
					<% var headlineLoop = headLoop.split('-_-_-_').shift() %>
				<div class="col-lg-10" style="margin-bottom: -25px;">
					<div class="post-entry d-block small-post-entry-v">
						<div class="content">
						
							<a href="/<%= post.slug %>" class="post-author d-flex align-items-center">
								<div class="author-pic" style="margin-top: 5px;">
									<img src="images/users/<%= post.user.photo %>" alt="Image">
								</div>
								<div class="text">
									<strong style="color: whitesmoke;"> <%= post.user.username %></strong>
								</a>
							</div>
							

							<div class="post-meta mb-1">
								<span class="category"><%= post.category %></span> &mdash;

								<span class="date"><%= post.createdAt.toLocaleString('en-us', {day:'2-digit', month:'long', year:'numeric'}) %></span>
								
							</div>

							<h6><a href="/<%= post.slug %>"><%= headlineLoop %></a></h6>
							
						</div>
						<div class="thumbnail" style="background-color: black; text-align: center;">
							<ul class="admin-list blog-sing">

							</ul>
							<% if(photoLoop === 'MP4'|| photoLoop === 'mp4') { %>
							<a href="/<%= post.slug %>">
								<video src="images/posts/<%= post.photo %>" 
								style="max-width: 100%; height: 500px;" autoplay muted></video>		
							</a>
							<% } %>

							<% if(photoLoop === 'jpg' || photoLoop === 'JPG'|| photoLoop === 'PNG') { %>
								<a href="/<%= post.slug %>">
								<img src="images/posts/<%= post.photo %>" alt="" 
								class="img-fluid">
								</a>
								<% } %>

							<ul class="admin-list blog-sing">     
								<li><a href="/<%= post.slug %>"><span class="icon-heart" aria-hidden="true"></span> <%= post.likes.length %> Likes</a></li>
								<li><a href="/<%= post.slug %>"><span class="icon-commenting" aria-hidden="true"></span> <%= post.reviews.length %> Comments</a></li>
							</ul>
						</div>

					</div>
				</div>

				<% }) %>



			</div>
		</div>
	</div>

	

	<%- include('includes/footer') %>